<h1 mat-dialog-title>Select Page Numbering</h1>

<div mat-dialog-content>
  <mat-form-field appearance="outline" class="basicInput">
    <mat-label>Page Numbering Type</mat-label>
    <mat-select [(ngModel)]="selectedType" name="pageNumberType" required>
      <mat-option *ngFor="let option of pageNumberOptions" [value]="option.value">
        {{ option.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div mat-dialog-actions style="justify-content: center;">
  <button mat-button [mat-dialog-close]="null">Cancel</button>
  <button mat-button [disabled]="canSave()" [mat-dialog-close]="onSave()">Add</button>
</div>
