<h1 mat-dialog-title style="text-align: center">Insert attribute</h1>
<div mat-dialog-content>

  <mat-form-field class="basicInput">
    <mat-label>Type</mat-label>
    <mat-select [(ngModel)]="selectedType" name="food" required>
      <mat-option *ngFor="let type of data.data" [value]="type">
        {{type.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>

<div mat-dialog-actions style="justify-content: center;">
  <button mat-button [disabled]="canSave()" [mat-dialog-close]="onSave()">Add</button>
  <button mat-button [mat-dialog-close]="null">Cancel</button>
</div>

