<div class="editor-shell" role="dialog" aria-labelledby="editorTitle">
  <!-- Header -->
  <header class="editor-header">
    <mat-icon *ngIf="type == EditorType.IMPORT && pageOutput" svgIcon="file_open"></mat-icon>
    <mat-icon *ngIf="type == EditorType.PAGE_LAYOUT && pageOutput" svgIcon="border_color"></mat-icon>
    <mat-icon *ngIf="type == EditorType.COLOR_PALETTE && pageOutput" svgIcon="colors"></mat-icon>
    <mat-icon *ngIf="type == EditorType.TOKEN && pageOutput" svgIcon="download"></mat-icon>
    <mat-icon *ngIf="type == EditorType.PRESET && pageOutput" svgIcon="inventory_2"></mat-icon>


    <h2 id="editorTitle" *ngIf="type == EditorType.IMPORT && pageOutput">Import / Export</h2>
    <h2 id="editorTitle" *ngIf="type == EditorType.PAGE_LAYOUT && pageOutput">Page Layout Editor</h2>
    <h2 id="editorTitle" *ngIf="type == EditorType.COLOR_PALETTE && pageOutput">Color Palette Editor</h2>
    <h2 id="editorTitle" *ngIf="type == EditorType.TOKEN && pageOutput">Token Editor</h2>
    <h2 id="editorTitle" *ngIf="type == EditorType.PRESET && pageOutput">Page Layout Editor</h2>

  </header>

  <!-- Content (scrollable) -->
  <section class="editor-content">
    <!-- Project your editor UI here -->
    <ng-content *ngIf="type == EditorType.PAGE_LAYOUT && pageOutput">
      <app-page-layout-editor [pageAttrs]="pageOutput.pageAttrs"></app-page-layout-editor>
    </ng-content>

    <ng-content *ngIf="type == EditorType.IMPORT && pageOutput">
      <app-import-editor [page]="pageOutput" (pageImported)="updatePage($event)"></app-import-editor>
    </ng-content>

    <ng-content *ngIf="type == EditorType.COLOR_PALETTE && pageOutput">
      <app-color-palette-editor
        [colorPalettes]="pageOutput.colorPalettes"
        (colorPalettesChange)="pageOutput.colorPalettes = $event">
      </app-color-palette-editor>
    </ng-content>

    <ng-content *ngIf="type == EditorType.TOKEN && pageOutput">
      <app-token-editor
        [attributes]="pageOutput.tokenAttrs"
        (attributesChange)="pageOutput.tokenAttrs = $event">
      </app-token-editor>
    </ng-content>

    <ng-content *ngIf="type == EditorType.PRESET && pageOutput">
      <app-preset-loader
        (pageSelected)="pageOutput = $event">
      </app-preset-loader>
    </ng-content>




  </section>

  <!-- Footer (buttons right-aligned) -->
  <footer class="editor-footer">
    <div class="spacer"></div>
    <button mat-button type="button" (click)="onCancel()">{{ cancelLabel }}</button>
    <button mat-flat-button color="primary" type="button" (click)="onOk()">{{ okLabel }}</button>
  </footer>
</div>
