<div  mat-dialog-content class="editor-dialog-content" >

  <p class="section-title">Rendering Options</p>
  <div class="rendering-options-wrapper">
    <div>
      <mat-slide-toggle
        [(ngModel)]="pageAttrs.dontBreakRows"
        color="primary">
        Prevent rows from splitting across pages
      </mat-slide-toggle>
    </div>
    <div>
      <mat-slide-toggle
        [(ngModel)]="pageAttrs.headerForPage2Up"
        color="primary">
        Have a different header for page 2+
      </mat-slide-toggle>
    </div>
  </div>


  <p class="section-title">Default Font</p>
  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Font</mat-label>
    <mat-select [(ngModel)]="pageAttrs.defaultFont">
      <mat-option *ngFor="let font of availableFonts" [value]="font">
        {{ font }}
      </mat-option>
    </mat-select>
  </mat-form-field>



  <p class="section-title">Page Margin</p>
  <div class="row-grid-3-3-3-auto">
    <mat-form-field appearance="fill">
      <mat-label>Top</mat-label>
      <input matInput type="number" [(ngModel)]="pageAttrs.marginTop" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Right</mat-label>
      <input matInput type="number" [(ngModel)]="pageAttrs.marginRight" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Bottom</mat-label>
      <input matInput type="number" [(ngModel)]="pageAttrs.marginBottom" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Left</mat-label>
      <input matInput type="number" [(ngModel)]="pageAttrs.marginLeft" />
    </mat-form-field>
  </div>


  <p class="section-title">Header Margin</p>
  <div class="row-grid-3-3-3-auto">
    <mat-form-field appearance="fill">
      <mat-label>Top</mat-label>
      <input matInput type="number" [(ngModel)]="pageAttrs.headerMarginTop" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Right</mat-label>
      <input matInput type="number" [(ngModel)]="pageAttrs.headerMarginRight" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Bottom</mat-label>
      <input matInput type="number" [(ngModel)]="pageAttrs.headerMarginBottom" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Left</mat-label>
      <input matInput type="number" [(ngModel)]="pageAttrs.headerMarginLeft" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Height</mat-label>
      <input matInput type="number" [(ngModel)]="pageAttrs.headerHeight" />
    </mat-form-field>
  </div>


  <p class="section-title">Footer Margin</p>
  <div class="row-grid-3-3-3-auto">
    <mat-form-field appearance="fill">
      <mat-label>Top</mat-label>
      <input matInput type="number" [(ngModel)]="pageAttrs.footerMarginTop" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Right</mat-label>
      <input matInput type="number" [(ngModel)]="pageAttrs.footerMarginRight" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Bottom</mat-label>
      <input matInput type="number" [(ngModel)]="pageAttrs.footerMarginBottom" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Left</mat-label>
      <input matInput type="number" [(ngModel)]="pageAttrs.footerMarginLeft" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Height</mat-label>
      <input matInput type="number" [(ngModel)]="pageAttrs.footerHeight" />
    </mat-form-field>
  </div>

  <p class="section-title">Image Compression</p>
  <div class="rendering-options-wrapper">
    <div>
      <mat-slide-toggle
        [(ngModel)]="pageAttrs.autoCompressImages"
        color="primary">
        Automatically compress images on upload
      </mat-slide-toggle>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Max image size</mat-label>
        <input matInput type="number" [(ngModel)]="pageAttrs.maxImageSize" />
      </mat-form-field>
    </div>
  </div>


  <p class="section-title">Background Color</p>
  <div class="row-grid-3-3-3-auto">
    <div class="color-picker w-100">
      <div
        class="color-preview"
        [style.background]="pageAttrs.backgroundColor"
        (click)="showBgPicker = !showBgPicker"
      ></div>
      <app-color-picker-overlay
        *ngIf="showBgPicker"
        [color]="pageAttrs.backgroundColor"
        (colorChange)="pageAttrs.backgroundColor = $event"
      ></app-color-picker-overlay>
    </div>
  </div>
</div>

