<div class="editor-shell" role="dialog" aria-labelledby="editorTitle">
  <!-- Header -->
  <header class="editor-header">
    <mat-icon *ngIf="type == CellEditorType.IMAGE && cell" svgIcon="add_photo_alternate"></mat-icon>
    <mat-icon *ngIf="type == CellEditorType.BARCODE && cell" svgIcon="barcode"></mat-icon>
    <mat-icon *ngIf="type == CellEditorType.HTML && cell" svgIcon="edit"></mat-icon>


    <h2 id="editorTitle" *ngIf="type == CellEditorType.IMAGE && cell">Cell Image Editor</h2>
    <h2 id="editorTitle" *ngIf="type == CellEditorType.BARCODE && cell">Bar Code Editor</h2>
    <h2 id="editorTitle" *ngIf="type == CellEditorType.HTML && cell">Content Editor</h2>


  </header>

  <!-- Content (scrollable) -->
  <section class="editor-content">
    <!-- Project your editor UI here -->
    <ng-content *ngIf="type == CellEditorType.IMAGE && cell">
      <app-image-editor [cell]="cell" [tokenAttrs]="tokens" (change)="cell = $event"></app-image-editor>
    </ng-content>

    <ng-content *ngIf="type == CellEditorType.BARCODE && cell">
      <app-bar-code-editor [cell]="cell" [tokenAttrs]="tokens" (change)="cell = $event"></app-bar-code-editor>
    </ng-content>

    <ng-content *ngIf="type == CellEditorType.HTML && cell">
      <app-quill-editor [cell]="cell" [tokenAttrs]="tokens" (change)="cell = $event"></app-quill-editor>
    </ng-content>

  </section>

  <!-- Footer (buttons right-aligned) -->
  <footer class="editor-footer">
    <div class="spacer"></div>
    <button mat-button type="button" (click)="onCancel()">{{ cancelLabel }}</button>
    <button mat-flat-button color="primary" type="button" (click)="onOk()">{{ okLabel }}</button>
  </footer>
</div>
