.mainContainer {
  height: 97vh;
  display: flex;
  flex-direction: column;
}

.split-container {
  flex: 1;
  display: flex;
  height: 100%;
}

as-split,
as-split-area {
  display: flex;
  width: 100%;
  height: 100%;
}

.left-pane,
.right-pane {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

/* Splitter */
as-split-gutter {
  background-color: hotpink;
  width: 6px;
  cursor: col-resize;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;

  &::before {
    content: '⋮';
    color: #fff;
    font-size: 14px;
    transform: rotate(90deg);
  }
}

/* Editor Card */
.editor-card {
  width: 100%;
  background: #fff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow-x: hidden;
}

/* Sticky Toolbar */
.toolbar-wrapper {
  position: sticky;
  top: 0;
  z-index: 20;
  width: 100%;
  background: #fff;
  padding: 0 !important;
  .toolbar {
    width: 100%;
  }
}


.pdf-viewer,
.json-viewer {
  flex: 1;          /* take remaining space */
  width: 100%;
  height: 100%;
  border: none;
  min-height: 0;    /* allow flexbox to shrink properly */
}
