<div class="mainContainer">
    <as-split
            [direction]="'horizontal'"
            [gutterSize]="6"
            [unit]="'percent'"
            class="split-container"
    >
        <!-- LEFT PANE -->
        <as-split-area [size]="50" [minSize]="30" class="left-pane" [class.disabled]="isEditorOpen()">
            <mat-card class="editor-card mat-elevation-z4">
              <mat-card-header  class="toolbar-wrapper">
                <app-toolbar
                    class="toolbar"
                    [page]="page"
                    [hide-editors]="area == null"
                    [panel-type]="currentView"
                    [editor-type]="editorType"
                    (panel-type-change)="this.currentView = $event"
                    (editor-type-change)="openEditorViewer($event)"
                    (cell-editor-type-change)="onCellChange($event)"
                    (row-editor-type-change)="onRowChange($event)">
                </app-toolbar>
              </mat-card-header>


                <mat-card-content>
                    <mat-accordion>
                        <!-- HEADER -->
                        <mat-expansion-panel (opened)="onPanelOpened('header')">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <mat-icon class="panel-icon" svgIcon="view_headline"></mat-icon>
                                    Header
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <app-grid-editor
                                    [area]="'header'"
                                    [isAreaActive]="this.area == 'header'"
                                    [grid]="page.header"
                                    [tokenAttrs]="page.tokenAttrs"
                                    [pageAttrs]="page.pageAttrs"
                                    [colorPalettes]="page.colorPalettes"
                                    (cellChange)="onCellChange($event)"
                                    (rowChange)="onRowChange($event)"
                            ></app-grid-editor>
                        </mat-expansion-panel>

                      <!-- HEADER 2+ -->
                      <mat-expansion-panel (opened)="onPanelOpened('header2')" *ngIf="page.pageAttrs.headerForPage2Up">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            <mat-icon class="panel-icon" svgIcon="view_headline"></mat-icon>
                            Header (Page 2+)
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <app-grid-editor
                          [area]="'header2'"
                          [isAreaActive]="this.area == 'header2'"
                          [grid]="page.header2"
                          [tokenAttrs]="page.tokenAttrs"
                          [pageAttrs]="page.pageAttrs"
                          [colorPalettes]="page.colorPalettes"
                          (cellChange)="onCellChange($event)"
                          (rowChange)="onRowChange($event)"
                        ></app-grid-editor>
                      </mat-expansion-panel>



                        <!-- CONTENT -->
                        <mat-expansion-panel (opened)="onPanelOpened('content')">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <mat-icon class="panel-icon" svgIcon="subject"></mat-icon>
                                    Content
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <app-grid-editor
                                    [isAreaActive]="this.area == 'content'"
                                    [area]="'content'"
                                    [grid]="page.content"
                                    [tokenAttrs]="page.tokenAttrs"
                                    [pageAttrs]="page.pageAttrs"
                                    [colorPalettes]="page.colorPalettes"
                                    (cellChange)="onCellChange($event)"
                                    (rowChange)="onRowChange($event)"
                            ></app-grid-editor>
                        </mat-expansion-panel>

                        <!-- FOOTER -->
                        <mat-expansion-panel (opened)="onPanelOpened('footer')">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <mat-icon class="panel-icon" svgIcon="text_snippet"></mat-icon>
                                    Footer
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <app-grid-editor
                                    [area]="'footer'"
                                    [isAreaActive]="this.area == 'footer'"
                                    [grid]="page.footer"
                                    [tokenAttrs]="page.tokenAttrs"
                                    [pageAttrs]="page.pageAttrs"
                                    [colorPalettes]="page.colorPalettes"
                                    (cellChange)="onCellChange($event)"
                                    (rowChange)="onRowChange($event)"
                            ></app-grid-editor>
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-card-content>
                <mat-card-actions class="history-toolbar-wrapper">

                </mat-card-actions>
            </mat-card>
        </as-split-area>

        <!-- RIGHT PANE -->
      <as-split-area [size]="50" [minSize]="25" class="right-pane">
        <app-pdf-viewer *ngIf="currentView == PanelTypes.PDF_VIEW"
                        class="pdf-viewer"
                        [base64]="this.pdfGenerationResult.base64">
        </app-pdf-viewer>



        <ace-editor
          *ngIf="currentView == PanelTypes.JSON_VIEW"
          [jsonList]="jsonList"
          theme="monokai"
          style="height: 100%; width: 100%;"
        ></ace-editor>

        <app-editor-viewer  *ngIf="currentView == PanelTypes.PAGE_EDITOR"
                            [type]="editorType"
                            [page]="page"
                            (editorActionEvent)="closeEditors()">
        </app-editor-viewer>


        <app-cell-editor-viewer *ngIf="currentView == PanelTypes.CELL_EDITOR"
                                [type]="cellEditorType"
                                [colorPalettes]="page.colorPalettes"
                                (editorActionEvent)="closeEditors()">
        </app-cell-editor-viewer>

        <app-row-editor-viewer *ngIf="currentView == PanelTypes.ROW_EDITOR"
          [type]="rowEditorType"
          [tokens]="page.tokenAttrs"
          (editorActionEvent)="closeEditors()">
        </app-row-editor-viewer>
      </as-split-area>

    </as-split>


</div>


