<h1 mat-dialog-title>Page Attributes</h1>

<div class="editor-dialog-content">
  <p class="section-title">Background Color</p>
  <div class="row-grid-3-3-3-auto">
    <div class="color-picker w-100">
      <label class="color-label">Background</label>
      <div
        class="color-preview"
        [style.background]="data.backgroundColor"
        (click)="showBgPicker = !showBgPicker"
      ></div>
      <app-color-picker-overlay
        *ngIf="showBgPicker"
        [color]="data.backgroundColor"
        (colorChange)="data.backgroundColor = $event"
      ></app-color-picker-overlay>
    </div>
  </div>

  <p class="section-title">Margin</p>
  <div class="row-grid-3-3-3-auto">
    <mat-form-field appearance="fill">
      <mat-label>Top</mat-label>
      <input matInput type="number" [(ngModel)]="data.marginTop" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Right</mat-label>
      <input matInput type="number" [(ngModel)]="data.marginRight" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Bottom</mat-label>
      <input matInput type="number" [(ngModel)]="data.marginBottom" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Left</mat-label>
      <input matInput type="number" [(ngModel)]="data.marginLeft" />
    </mat-form-field>
  </div>

  <p class="section-title">Default Font</p>
  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Font</mat-label>
    <mat-select [(ngModel)]="data.defaultFont">
      <mat-option *ngFor="let font of availableFonts" [value]="font">
        {{ font }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSave()">Save</button>
</div>
