.grid-container {
  display: flex;
  flex-direction: column;
  gap: 4px;

}

.grid-container, .grid-container * {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.row {
  display: flex;
  width: 100%;
  height: auto;
  border:1px solid #999;
}

.cell-container {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;

}

.cell {
  flex: 1;
  min-height: 30px;
  border: 1px solid #ccc;
  overflow: auto;
  word-break: break-all;
}
.cell-content {
  pointer-events: none;  // disables clicks inside e.g., tables, spans, etc.
}
.col-resize-handle {
  width: 5px;
  cursor: col-resize;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  bottom: 0;
  right: -2.5px;
}

.selected {
  outline: 2px solid blue;
}

.grid-toolbar {
  display: flex;
  flex-wrap: wrap;
  height: auto !important;
  align-content: center;
}

/* keep the right-side spacer working, even with wraps */
.grid-toolbar .spacer {
  flex: 1 1 auto;
}

/* optional: ensure each icon button sizes nicely on wrap */
.grid-toolbar [mat-icon-button] {
  flex: 0 0 auto;
}

.spacer {
  flex: 1 1 auto;
}
.selected-partial {
  outline: 2px solid blue;
  outline-offset: -1px;
}

.cdk-drag-preview {
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden !important;
  background: white;
  z-index: 1000;
}

.cdk-drag-placeholder {
  opacity: 0.6;
}
