
<div #gridContainer class="grid-container">
  <div cdkDropList (cdkDropListDropped)="dropRow($event)" [cdkDropListDisabled]="isResizing">
    <div *ngFor="let row of grid.rows; let r = index" cdkDrag>
      <!-- 🧾 Page Break -->
      <div *ngIf="row.type === 'page-break'; else normalRow" class="row"
           [ngClass]="{ 'selected-partial': r === currentRow }"
           (click)="onRowClick(r)">
        <div class="cell-container" style="flex: 1;">
          <div class="cell ql-editor"
               style="text-align: center; color: gray; font-style: italic; padding: 8px;">
            [Page Break]
          </div>
        </div>
      </div>


      <!-- Normal row rendering -->
      <ng-template #normalRow>
        <div class="row" [style.background-color]="pageAttrs.backgroundColor">

          <ng-container *ngFor="let cell of row.cells; let c = index">

            <div class="cell-container" [class.has-error]="cell.hasError" [style.flex-basis.%]="row.widths[c]">
              <!--  Corner error badge (only if error) -->
              <div class="badge-wrapper">
                <button
                  *ngIf="row.displayLogic"
                  mat-icon-button
                  class="display-badge"
                  [matTooltip]="'Display Rules Active On This Row'"
                  matTooltipPosition="left"
                  [attr.aria-label]="'Display Rules Active On This Row'"
                  type="button"
                >
                  <mat-icon svgIcon="view_list"></mat-icon>
                </button>

                <button
                  *ngIf="row.repeatableToken"
                  mat-icon-button
                  class="repeatable-badge"
                  [matTooltip]="'Repeatable Active On This Row'"
                  matTooltipPosition="left"
                  [attr.aria-label]="'Repeatable Active On This Row'"
                  type="button"
                >
                  <mat-icon svgIcon="repeat"></mat-icon>
                </button>

                <button
                  *ngIf="cell.hasError"
                  mat-icon-button
                  class="error-badge"
                  [matTooltip]="cell.errorMessage"
                  matTooltipPosition="left"
                  [attr.aria-label]="cell.errorMessage"
                  type="button"
                >
                  <mat-icon svgIcon="error"></mat-icon>
                </button>
              </div>

              <div
                class="cell ql-editor"
                [ngClass]="{ 'selected': r === currentRow && c === currentCol }"
                (click)="onCellClick(r, c)"
                (dblclick)="onCellDoubleClick(r, c)"
                [style.padding-left.px]="cell.attrs?.paddingLeft || 0"
                [style.padding-right.px]="cell.attrs?.paddingRight || 0"
                [style.padding-top.px]="cell.attrs?.paddingTop || 0"
                [style.padding-bottom.px]="cell.attrs?.paddingBottom || 0"
                [style.border-top-style]="'solid'"
                [style.border-right-style]="'solid'"
                [style.border-bottom-style]="'solid'"
                [style.border-left-style]="'solid'"
                [style.border-top-width.px]="cell.attrs?.borderTop || 0"
                [style.border-right-width.px]="cell.attrs?.borderRight || 0"
                [style.border-bottom-width.px]="cell.attrs?.borderBottom || 0"
                [style.border-left-width.px]="cell.attrs?.borderLeft || 0"
                [style.border-color]="cell.attrs?.borderColor || '#000'"
                [style.background-color]="cell.attrs?.backgroundColor || 'transparent'"
              >
                <ng-container *ngIf="cell.imageBlock;">
                  <div [style.text-align]="cell.imageBlock.alignment">
                    <img
                      [src]="cell.imageBlock.imageBase64"
                      [style.width.%]="cell.imageBlock.width || 100"
                      style="display: inline-block;"
                      alt="{{ cell.imageBlock.filename }}"
                    />
                  </div>
                </ng-container>

                <ng-container *ngIf="cell.barcodeBlock;">
                  <div [style.text-align]="cell.barcodeBlock.alignment">
                    <img
                      [src]="cell.barcodeBlock.imageBase64"
                      [style.width.%]="cell.barcodeBlock.width || 100"
                      style="display: inline-block;"
                      alt="{{ cell.barcodeBlock.filename }}"
                    />
                  </div>
                </ng-container>

                <ng-container *ngIf="cell.chartBlock; else textBlock">
                  <div [style.text-align]="cell.chartBlock.alignment">
                    <img
                      [src]="cell.chartBlock.imageBase64"
                      [style.width.%]="cell.chartBlock.width || 100"
                      style="display: inline-block;"
                      alt="Chart"/>
                  </div>
                </ng-container>

                <ng-template #textBlock>
                  <div class="cell-content" [innerHTML]="sanitizeHtml(cell.value)"></div>
                </ng-template>
              </div>

              <div
                *ngIf="c < row.cells.length - 1"
                class="col-resize-handle"
                (mousedown)="onColResizeMouseDown($event, r, c)"
              ></div>
            </div>
          </ng-container>
        </div>
      </ng-template>
    </div>
  </div>
</div>


