<mat-form-field
  appearance="outline"
  class="basicInput"
  style="width: 100%; margin-bottom: 16px; padding-top: 10px;"
>
  <mat-label>Json Array Tokens</mat-label>
  <mat-select
    [(ngModel)]="repeatableToken"
    name="attribute"
    required
    (selectionChange)="onTokenChange()"
    [compareWith]="compareByName"
  >
    <mat-option [value]="null">None</mat-option>

    <mat-option
      *ngFor="let attribute of jsonArrayAttrs"
      [value]="attribute"
    >
      {{ attribute.name }} [{{ attribute.type }}]
    </mat-option>
  </mat-select>
</mat-form-field>

<!-- List of child attributes -->
<div *ngIf="repeatableToken?.tokenAttributes?.length" class="token-list">
  <h3 class="list-title">Child Token Attributes</h3>
  <mat-card
    *ngFor="let attr of repeatableToken.tokenAttributes"
    class="token-card"
  >
    <div class="token-info">
      <mat-icon class="token-icon" svgIcon="label"></mat-icon>
      <div class="token-details">
        <div class="token-name">{{ attr.name }}</div>
        <div class="token-type">{{ attr.type }}</div>
      </div>
    </div>
  </mat-card>
</div>

<!-- No attributes fallback -->
<div *ngIf="repeatableToken && !repeatableToken.tokenAttributes?.length" class="no-attributes">
  <mat-icon svgIcon="info"></mat-icon>
  <span>No child attributes available for this token.</span>
</div>
