<div mat-dialog-content class="editor-dialog-content simple">
  <mat-tab-group [(selectedIndex)]="tabIndex">

    <!-- IMPORT -->
    <mat-tab label="Import">
      <div class="stack">
        <!-- hidden file input -->
        <input
          #fileInput
          type="file"
          accept=".json,application/json"
          hidden
          (change)="onFileSelected($event)"
        />

        <!-- visible styled button -->
        <button mat-stroked-button color="primary" class="choose-file-btn" (click)="fileInput.click()">
          <mat-icon svgIcon="upload_file" aria-hidden="true"></mat-icon>
          Choose JSON file…
        </button>

        <!-- selected filename chip -->
        <span class="file-chip" *ngIf="selectedFilename">
          <mat-icon svgIcon="description" aria-hidden="true"></mat-icon>
          {{ selectedFilename }}
        </span>

        <!-- error display -->
        <div *ngIf="importError" class="error">
          <mat-icon svgIcon="error_outline" aria-hidden="true"></mat-icon>
          {{ importError }}
        </div>
      </div>
    </mat-tab>

    <!-- EXPORT -->
    <mat-tab label="Export">
      <div class="stack">
        <div class="row-actions">
          <button mat-stroked-button (click)="generateHTMLPreview()">
            <mat-icon svgIcon="open_in_new" aria-hidden="true"></mat-icon>
            Open HTML in new tab
          </button>

          <button mat-stroked-button (click)="generatePDFPreview()">
            <mat-icon svgIcon="picture_as_pdf" aria-hidden="true"></mat-icon>
            Open PDF in new tab
          </button>
        </div>
      </div>
    </mat-tab>

  </mat-tab-group>
</div>
