<h1 mat-dialog-title>Edit Styles</h1>

<div class="editor-dialog-content">
  <p class="section-title">Colors</p>
  <div>
    <div class="color-picker w-100">
      <label class="color-label">Border Color</label>
      <div
        class="color-preview"
        [style.background]="data.borderColor"
        (click)="showBorderPicker = !showBorderPicker"
      ></div>
      <app-color-picker-overlay
        *ngIf="showBorderPicker"
        [color]="data.borderColor"
        (colorChange)="data.borderColor = $event"
      ></app-color-picker-overlay>
    </div>

    <div class="color-picker w-100">
      <label class="color-label">Background</label>
      <div
        class="color-preview"
        [style.background]="data.backgroundColor"
        (click)="showBgPicker = !showBgPicker"
      ></div>
      <app-color-picker-overlay
        *ngIf="showBgPicker"
        [color]="data.backgroundColor"
        (colorChange)="data.backgroundColor = $event"
      ></app-color-picker-overlay>
    </div>
  </div>

  <p class="section-title">Padding</p>
  <div class="row-grid-3-3-3-auto">
    <mat-form-field appearance="fill">
      <mat-label>Top</mat-label>
      <input matInput type="number" [(ngModel)]="data.paddingTop" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Right</mat-label>
      <input matInput type="number" [(ngModel)]="data.paddingRight" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Bottom</mat-label>
      <input matInput type="number" [(ngModel)]="data.paddingBottom" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Left</mat-label>
      <input matInput type="number" [(ngModel)]="data.paddingLeft" />
    </mat-form-field>
  </div>

  <p class="section-title">Border</p>
  <div class="row-grid-3-3-3-auto">
    <mat-form-field appearance="fill">
      <mat-label>Top</mat-label>
      <input matInput type="number" [(ngModel)]="data.borderTop" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Right</mat-label>
      <input matInput type="number" [(ngModel)]="data.borderRight" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Bottom</mat-label>
      <input matInput type="number" [(ngModel)]="data.borderBottom" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Left</mat-label>
      <input matInput type="number" [(ngModel)]="data.borderLeft" />
    </mat-form-field>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSave()">Save</button>
</div>
