<h1 mat-dialog-title>Edit Styles</h1>

<div class="editor-dialog-content">
  <p class="section-title">Colors</p>

  <div class="color-grid">
    <div class="color-picker w-100">
      <label class="color-label">Border Color</label>
      <div
        class="color-preview"
        [style.background]="data.borderColor"
        (click)="showBorderPicker = !showBorderPicker"
      ></div>
      <app-color-picker
        *ngIf="showBorderPicker"
        [color]="data.borderColor"
        (colorChange)="data.borderColor = $event"
      ></app-color-picker>
    </div>

    <div class="color-picker w-100">
      <label class="color-label">Background</label>
      <div
        class="color-preview"
        [style.background]="data.backgroundColor"
        (click)="showBgPicker = !showBgPicker"
      ></div>
      <app-color-picker
        *ngIf="showBgPicker"
        [color]="data.backgroundColor"
        (colorChange)="data.backgroundColor = $event"
      ></app-color-picker>
    </div>
  </div>

  <p class="section-title">Padding</p>
  <!-- Cross layout: Top / (Left, Center, Right) / Bottom -->
  <div class="box-grid-cross">
    <!-- TOP -->
    <mat-form-field class="num top" appearance="outline">
      <mat-label>Top</mat-label>
      <input matInput type="number" min="0" [(ngModel)]="data.paddingTop" />
    </mat-form-field>

    <!-- LEFT -->
    <mat-form-field class="num left" appearance="outline">
      <mat-label>Left</mat-label>
      <input matInput type="number" min="0" [(ngModel)]="data.paddingLeft" />
    </mat-form-field>

    <!-- CENTER: mini preview -->
    <div class="center">
      <div class="mini-box pad-preview"
           [style.paddingTop.px]="data.paddingTop || 0"
           [style.paddingRight.px]="data.paddingRight || 0"
           [style.paddingBottom.px]="data.paddingBottom || 0"
           [style.paddingLeft.px]="data.paddingLeft || 0">
        <div class="mini-content"></div>
      </div>
    </div>

    <!-- RIGHT -->
    <mat-form-field class="num right" appearance="outline">
      <mat-label>Right</mat-label>
      <input matInput type="number" min="0" [(ngModel)]="data.paddingRight" />
    </mat-form-field>

    <!-- BOTTOM -->
    <mat-form-field class="num bottom" appearance="outline">
      <mat-label>Bottom</mat-label>
      <input matInput type="number" min="0" [(ngModel)]="data.paddingBottom" />
    </mat-form-field>
  </div>

  <p class="section-title">Border</p>
  <!-- Cross layout: Top / (Left, Center, Right) / Bottom -->
  <div class="box-grid-cross">
    <!-- TOP -->
    <mat-form-field class="num top" appearance="outline">
      <mat-label>Top</mat-label>
      <input matInput type="number" min="0" [(ngModel)]="data.borderTop" />
    </mat-form-field>

    <!-- LEFT -->
    <mat-form-field class="num left" appearance="outline">
      <mat-label>Left</mat-label>
      <input matInput type="number" min="0" [(ngModel)]="data.borderLeft" />
    </mat-form-field>

    <!-- CENTER: border preview + color picker -->
    <div class="center">
      <div class="mini-box"
           [style.borderStyle]="'solid'"
           [style.borderTopWidth.px]="data.borderTop || 0"
           [style.borderRightWidth.px]="data.borderRight || 0"
           [style.borderBottomWidth.px]="data.borderBottom || 0"
           [style.borderLeftWidth.px]="data.borderLeft || 0"
           [style.borderColor]="data.borderColor || '#000'">
        <div class="mini-content"></div>
      </div>
      <div class="picker-wrap">
        <app-color-picker
          [color]="data.borderColor"
          (colorChange)="data.borderColor = $event">
        </app-color-picker>
      </div>
    </div>

    <!-- RIGHT -->
    <mat-form-field class="num right" appearance="outline">
      <mat-label>Right</mat-label>
      <input matInput type="number" min="0" [(ngModel)]="data.borderRight" />
    </mat-form-field>

    <!-- BOTTOM -->
    <mat-form-field class="num bottom" appearance="outline">
      <mat-label>Bottom</mat-label>
      <input matInput type="number" min="0" [(ngModel)]="data.borderBottom" />
    </mat-form-field>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSave()">Save</button>
</div>
